<footer class="footer">
    <div>
      <a href=" /*todavia no lo se*/ "><img src="./assets/images/ico-arrow.svg" alt="arrow" /></a>
    </div>
    <nav class="list-links1">
      <ul>
        <li class="footer-list"> <a href="https://adalab.es/" target="_blank" class="link-footer">articles</a></li>

        <li class="footer-list" > <a href="https://adalab.es/" target="_blank" class="link-footer">books</a></li>

        <li class="footer-list"> <a href="https://adalab.es/" target="_blank" class="link-footer">events</a></li>

        <li class="footer-list"> <a href="https://adalab.es/" target="_blank" class="link-footer">reasons</a></li>

        <li class="footer-list"> <a href="https://adalab.es/" target="_blank" class="link-footer">tips</a></li>
      </ul>
    </nav>
    <nav class="list-links2">
      <ul>
        <li class="footer-list">
          <a href="https://adalab.es/" target="_blank" class="link-footer">twitter</a>
        </li>
        <li class="footer-list"><a href="https://adalab.es/" target="_blank" class="link-footer">isntagram</a></li>
        <li class="footer-list"><a href="https://adalab.es/" target="_blank" class="link-footer">mastodon.social</a></li>
      </ul>
    </nav>
    <div>
      <small class="copyright">&copy; 2021 </small>
      <small class="we-components">we &#128147; components </small>
    </div>
</footer>