<section class="section2" id="ir-a-3-reasons">
  <h2 class="h2">3 reasons to purschase</h2>
  <article class="article1">
    <h3 class="h3">Ut sed metus</h3>
    <p class="paragraph-section2">Lorem ipsum dolor sit amet, consecteur.</p>
  </article>
  <article class="article2">
    <h3 class="h3">Curabitur ac erat</h3>
    <p class="paragraph-section2">Mauris mattis urna quis lorem molestie.</p>
  </article>
  <article class="article3">
    <h3 class="h3">Morbi dictum.</h3>
    <p class="paragraph-section2">Aliquam in dolor et dolor tincidunt.</p>
  </article>
  </article>
  <div class="button2">
    <a class="more">More reasons</a>
  </div>
</section>