<section class="section2">
    <h2 class="h2">3 reasosns to purschase</h2>
    <article class="article1">
    <h3 class="h3">ut sed metus</h3>
    <p class="paragraph-section2">lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="article2">
    <h3 class="h3">curabitur ac erat</h3>
    <p class="paragraph-section2">mauris mattis urna quis lorem molestie.</p>
  </article>
    <article class="article3">
    <h3 class="h3">morbi dictum.</h3>
    <p class="paragraph-section2">aliquam in dolor et dolor tincidunt.</p></article>
  </article>
  <div class="botton-more">
    <a href="#" class="" title="More reasons">More reasons</a>
  </div>
  </section>