// fonts
$font-main: 'Roboto- regular';
$font-section: "RobotoSlab";
$font-go: "Roboto-Medium";

// colors
$dark-blue: #304268;
$white: #ffffff;
$ice-blue:#eff9ff;
$black: #000000; 
$shadow: rgba(0, 0, 0, 0.2);
$insomnia: #8ccbea;
$greyish-brown: #4a4a4a;
$cerulean: #0271bc;
$border:#f26002;
