.section1{
  width: 100%;
  height: 372px;
  padding: 30px 15px 45px;
  
.tittle2{
  margin: 0 0px 0px 0;
  font-family: $font-main;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  color: $insomnia;
}
.h2-section1{
    width: 290px;
    height: 60px;
    margin: 1px 0 15px;
    font-family: $font-section;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: $black;
    text-transform:  capitalize;
}
.paragraph1{  
  margin: 15px 0 30px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: $greyish-brown; 
}
.div-go{
  width: 76px;
  height: 45px;
  margin: 30px 214px 0 0;
  padding: 0 25px 0 26px;
  border-radius: 22.5px;
  border: solid 2px $border;
  background-color: $white; 
.button1{
  font-family: $font-go;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: $border;
}
}
}